/* === Global === */

* {
    box-sizing: border-box;
    /* background-color: black; */
    /* border: 1px solid rebeccapurple; */
}

body {
    background-color: black;
    margin-top: 20px;
}

/* === Text styling === */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter&family=Odibee+Sans&family=Play&display=swap');

header, h2, h4, h5, h6, p, input {    
    font-family: 'Audiowide', cursive;
    /* font-family: 'Play', sans-serif; */
    /* font-family: 'Odibee Sans'; */
    /* font-family: 'Cambria', serif */
    /* font-family: 'Inter', sans-serif;  */
}

header, h2, h4, h6, p, input {    
  color: white;
}

#gameDesc__title { 
    font-weight: bold;
    margin-bottom: 20px; 
}

p, li {font-size: 1rem; }

h4 { line-height: 0.8; }

h6 { font-size: 1.5rem; line-height: 2;}

span { color: red; font-weight: bold;}

input { background-color: black; }

/* === Main Content === */

header { 
    font-size: 30px;
    /* font-weight: bold; */
    margin: 10px; 
}

#container__header {
    border-radius: 0%;
}

div.container {
    border: 2px solid goldenrod;
    border-radius: 3%;
    overflow: hidden;
    max-width: 700px;
    /* padding: 20px;   */
    margin-bottom: 20px;  
}

#game_console {
    padding-top: 20px;
}

div.row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;  
    min-width: 500px;
}

div.col {
    color: white;
    padding-left: 20px;
    overflow: hidden;
}

#avatarName {
    padding-right: 5px;
}

.invisible {
    visibility: hidden;
  }


/* Modals */

.modal-dialog, .modal-content, .modal-header, .modal-body, .modal-footer, .modal-title {
    opacity: 1;
    background-color: rgb(214, 214, 214);
}

.modal-dialog {
    border-radius: 5%;
}

.modal-header {
    border-bottom: 2px solid black;
}

#masterRoshiImg {
    max-width: 400px;
    border-radius: 5%;
}

#avatarAge {
    margin-left: 10px;
}

/* === INPUT BOX === */

input {
    min-width: 300px;
    border: 0.5px solid whitesmoke;
    border-radius: 5%;
    padding-left: 15px;
}

/* === Game Controls === */

#resumeButton, #pauseButton, #reloadButton, #evolveButton {
    margin-right: 10px;
}

.glyphicon {
    background-color: white;
}

/* Avatar Images */

#avatar {
    width: 300px;
    object-fit: fill;
    border-radius: 50%;
    /* min-width: 250px;
    max-width: 300px; */
}

#col__avatar {
    min-width: 300px;
    border-radius: 5%;
    /* background-color: red; */
    /* max-width: 400px; -- this gets it to center */ 
}

/* Start, Coder Mode, Game Buttons */

#container__gameButtons {
    margin-top: 25px;
}

#container__startButtons {
    margin-top: 25px;
}

#col__startButton {
    display: flex;
    justify-content: center;
}

#startButton{
    width: 100vh;
    max-width: 500px;
    margin: 0px 20px 0px 20px;
}

#row__gameButtons {
    margin: 0px;
}

#eatButton, #sleepButton, #playButton, #code4Button, #code5Button {
    min-width: 100px;
}

#coderModeButton{
    width: 100vh;
    max-width: 500px;
    margin: 0px 20px 0px 20px;
}