/* === Global === */

* {
    box-sizing: border-box;
    background-color: black;
    /* border: 1px solid rebeccapurple; */
}

body {
    background-color: black;
    margin: 50px 0px;
}

/* === Text styling === */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h2, h4, p { 
    font-family: 'Inter', sans-serif;
    color: white;
}

h4 {
    color: white;
}

p, li {font-size: 0.8rem;}

span { color: red; }



/* === Component Specific === */


div.container {
    border: 5px solid goldenrod;
    border-radius: 3%;
    overflow: hidden;
    /* padding: 20px;   */
    margin-bottom: 20px;  
}

div.row {
    margin-top: 10px;
    padding-left: 20px;  
    min-width: 500px;
}

/* div.container.game {
    margin-top: 20px;
} */

div.col {
    color: white;
    /* padding: 15px; */
    padding-left: 20px;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
}

#col__avatar {
    display: flex;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
}
#col__playButton {
    display: flex;
    justify-content: flex-start;
}

#startButton{
    min-width: 500px;
    margin: 20px;
}

#eatButton, #sleepButton, #playButton {
    min-width: 100px;
}