/* === Global === */

* {
    box-sizing: border-box;
    background-color: black;
    /* border: 1px solid rebeccapurple; */
}

body {
    background-color: black;
    margin: 50px 0px;
}

/* === Text styling === */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h2, h4, h6, p, input { font-family: 'Inter', sans-serif; color: white;}

h4 { color: white; }

p, li {font-size: 0.8rem;}

span { color: red; }

/* === Component Specific === */


div.container {
    border: 2px solid goldenrod;
    border-radius: 3%;
    overflow: hidden;
    max-width: 600px;
    /* padding: 20px;   */
    margin-bottom: 20px;  
}

div.row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;  
    min-width: 500px;
}

div.col {
    color: white;
    padding-left: 20px;
    overflow: hidden;
}

#avatarName {
    padding-top: 5px;
    padding-right: 15px;
}

input {
    min-width: 300px;
    border: 0.5px solid whitesmoke;
    border-radius: 5%;
    padding-left: 15px;
}

#row__avatar {
    display: flex;
    justify-content: center;
}

#col__avatar {
    display: flex;
    justify-content: center;
    min-width: 300px;
    /* background-color: red; */
    /* max-width: 400px; -- this gets it to center */ 
}

#col__startButton {
    display: flex;
    justify-content: center;
}

#startButton{
    width: 100vh;
    min-width: 500px;
    margin: 20px;
}

#eatButton, #sleepButton, #playButton {
    /* display: none; */
    min-width: 100px;
    align-items: center;
}

.invisible {
    visibility: hidden;
  }


/* FIXME: Cannot target parent background without targeting children
/* #gameOverModal {
    opacity: 0.1;
    background-color: white;
} 
*/

.modal-dialog, .modal-content, .modal-header, .modal-body, .modal-footer, .modal-title {
    opacity: 1;
    background-color: white;
}

#avatar {
    width: 300px;
    /* min-width: 250px;
    max-width: 300px; */
}

#avatarAge {
    margin-left: 10px;
}